#login-form {
    right: -100%;
    top: 20%;
    position: absolute;
}

#login-form.active {
    position: absolute;
    right: 20px;
    top: 70px;
    transition:  0.2s;
    -webkit-transition:  0.2s;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
}

#register-form {
    right: -100%;
    top: -100%;
    position: absolute;
}

#register-form.active {
    position: absolute;
    right: 20px;
    translate: 50%;
    top: 70px;
    transition:  0.2s;
    -webkit-transition:  0.2s;
    -moz-transition:  0.2s;
    -ms-transition:  0.2s;
    -o-transition:  0.2s;
}
